@{
    Layout = "~/Views/_LayoutAdminPage.cshtml";
 }
<div class="topDiv">
    <div class="topDivSub1">
    </div>
</div>
<hr />
<div id="tabberpage" class="form-horizontal" style="height: 463px;margin-left: 0px;margin-bottom: 8px;">
    <span> Welcome to admin home page</span><br>
    <span> See the like on the left bar for quick access</span><br>
    <section class="normal" style="padding-bottom: 20px; display:flex " align="left">
        <img id="Image1" src="@Url.Content("~/images/crmLink.png")" />
        <img id="Image2" src="@Url.Content("~/images/crmLink1.png")" />
    </section>
</div>
