
@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Dash</h2>



@section Scripts
{
    <script src="~/Scripts/irsl_validation.js"></script>
    <script type="text/javascript">

    </script>
}